@model E_Commerce.Models.ProductModel

<div class="container border-top mt-5">
    <div class="d-flex justify-content-center">
        <div class="row justify-content-center mt-5 w-50">
            <div class="card h-75 overflow-hidden pb-3 border border-bottom-0 rounded-0 col-7 bg-secondary text-light">
                <div class="card-body">
                    <h5 class="card-title pb-4">@Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text p-2">Description: @Html.DisplayFor(model => model.Description)</p>
                    <p class="card-text p-2">Category: @Html.DisplayFor(model => model.Category.Name)</p>
                </div>
            </div>
            <div class="card-footer bg-light border col-7">
                <button class="btn btn-primary w-100 p-2 m-1">Buy</button>
            </div>
        </div>
    </div>
</div>